extends layout

block content
    .container-fluid
        .row.blue
            .col-lg-6

                h1= title
                //#error= error
                //    p= info


            .col-lg-6.mt19
                form.form-inline(method='post',action='/')
                    .form-group
                        input.form-control(type="email",placeholder="Email",name="email")
                        input.form-control(type="password",placeholder="Password",style="margin-left:12px;",name="password")
                        button.btn-danger.btn(style="margin-left:12px;",type='submit') Log In
                        a(href="/register",style="margin-left:20px;color:#fff;") New User? Register



        .row(style="background-color:red;color:#fff;")
            .col-lg-12
                #error= error





