extends layout

block content
    .container-fluid
        .row
            .col-lg-12
                .well-lg
                    h1= title
                    form(method="post" action="/register")
                        .form-group
                            input(type="text" class="form-control"  placeholder="Name" name="name" required)
                        .form-group
                            input(type="email" class="form-control"  placeholder="Email id" name="email" required)
                        .form-group
                            input(type="password" class="form-control"  placeholder="password" name="password" required)

                        button.btn.btn-success(type="submit") Register








