//
   Created by bhavya on 05/04/16.
extends layout
block content
    .container
        .row
            .col-lg-3
                h1= 'Welcome' + ' ' + name.name
                p= 'Your email id is ' + name.email
            .col-lg-9(style="margin-top:80px;")
                form(method="post" action="/home")
                    input(type="text",placeholder="Enter your comment" name="comment")
                    button.btn.btn-success(type="submit") Comment

        .row
            .col-lg-3
                form(method="post" action="/users")
                    button.btn.btn-danger.users(type="submit") show users
                each val in users
                    p
                        a(href="/user/"+val.id)=val.name

            .col-lg-9
                h4 Comments
                div(style="height:400px;overflow:auto")
                    each val in comments
                        .well
                            p= val.comment
                            br
                            form(method="post" action="/home")
                                input(type="text",placeholder="enter your comment")
                                button.btn.btn-primary(type="submit") comment
                                br





