body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.blue {
    background-color: #2e6da4;
    color: #fff;
}

.mt19{
    margin-top: 19px;
}